.header{
    background: #3b5998;
    width: 100%;
    height: 100px;
}
body{
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.logo{
    width: 70%;
    padding-top: 32px;
    float: left;
}
.login{
    width: 30%;
    float: left;
}
.logo-text{
    color: #fff;
font-size: 35px;
font-weight: bold;
text-decoration: none;
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
margin-left: 170px;

}
.login-label{
    color: #fff;
    font-size: 11px;
}
.login-control{
    margin-left: 115px;
}
.login{
    padding-top: 5px;
}
.forgotten{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    color: #9cb4d8;
}
.submit-button{
    background-color: #4267b2;
    color: #fff;
    height: 20px;
    border-color: #29487d;
    cursor: pointer;
}
.submit-button:hover{

    background-color: darkblue;
}
.left-section{
    width: 60%;
    float: left;
    padding-left: 134px;
    padding-top: 52px;
}
.right-section{
    width: 40%;
    float: left;
    height: 10px;
}
.main-body{
    background: linear-gradient(white, #d3d8e8);
    width: 100%;
    height: 650px;
}
.image{
    width: 581px;
}
.para{
    font-weight: bold;
    font-size: 21px;
}
.entry{
    font-size: 35px;
font-weight: bold;
text-decoration: none;
font-family: Helvetica Neue,   
}
.entry-1{
    padding-top: 5px;
    padding-bottom: 20px;
}
.entry-2{
    height: 28px;
    width: 328px;
    padding-inline:10px;
    border-radius: 5px;
}

.entry-3{
    height: 36px;
    width: 328px;
    padding-inline: 10px;
    border-radius: 5px;  
}
.entry-4{
    padding-bottom: 5px;
}
.entry-5{
padding-top: 9px;
padding-bottom: 20px;
font-size: 25px;
text-decoration: none;
}
.select-container {
    
    flex-wrap: wrap;
    gap: 8px;
  }
  .select-container select {
    flex: 1;
    padding: 8px;
    font-size: 16px;
  }
  .entry-6{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .discription{
   
    font-size: 13px;
    text-decoration: none;  
  }
  .sign-up-button{
    background: none;
    background-color: rgba(0, 0, 0, 0);
  background-color: #00a400;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  height: 36px;
  overflow: hidden;
  padding: 0 32px;
  text-shadow: none;
  width: 185px; 
  }
  .bottom-body{
    width: 100%;
    padding-top: 32px;
    
  }
  .languages{
    margin-left: 296px;
    margin-right: 138px;
    color: #385898;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
  }
  .break-line{
    margin-left: 294px;
    margin-right: 636px;
  }
  .add{
    display: inline-block;
    width: 26px;
    height: 24px;
  }